---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.home.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.home_title }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.description }}</p>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_title_Tools == true %}
  <h1>Please make sure you have installed compression and decompression software before compressing or decompressing files. If your Windows version does not include built-in compression tools, you will need to download one.</h1>
  <h2>{{ site.theme_config.home.title_Tools }}</h2>
  {% include card_list.html collection=site.data.home.tools %}
{% endif %}

{% if site.theme_config.show_title_zip_file == true %}
  <h1>{{ site.theme_config.home.title_zip_file }}</h1>
  <h3>In the search box on the taskbar, type file explorer, and then select it from the list of results. Right-click the file you want to zip, and then select Send to > Compressed (zipped) folder. </h3>
  <figure>
    <img src="assets\images\zip_file.webp" alt="Steps to compress files on a computer">
    <figcaption>Step-by-step guide on how to compress files on your computer.</figcaption>
  </figure>
  {% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}


{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
